flows (2).json
[{"id":"4a4967d8.7b9d18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"34e9c3ac.23b9ac","type":"ui_form","z":"4a4967d8.7b9d18","name":"","label":"","group":"fe8adbe7.f7ce58","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"gen","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"ploe","type":"text","required":true,"rows":null},{"label":"lunch","value":"lu","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"percentage","value":"pc","type":"number","required":true,"rows":null} ],"formValue":{"gen":"","re":"","ploe":"","lu":"","tpc":"","ms":"","rs":"","ws":"","pc":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"grade","x":70,"y":420,"wires":[["82758153.2466e"]]},{"id":"82758153.2466e","type":"function","z":"4a4967d8.7b9d18","name":"PreToken","func":"global.set(\"gen\",msg.payload.gen)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"ploe\",msg.payload.ploe)\nglobal.set(\"lu\",msg.payload.lu)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"pc\",msg.payload.pc)\nvar apikey=\"zdTJACYd2dTYPoklzXtMTrEJeDNuPnoPgp94nyXuVqMS\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["42e8f3e9.a6ebfc"]]},{"id":"42e8f3e9.a6ebfc","type":"http request","z":"4a4967d8.7b9d18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["24b371c9.3812de"]]},{"id":"24b371c9.3812de","type":"function","z":"4a4967d8.7b9d18","name":"Pre Prediction","func":"var gen = global.get('gen')\nvar re = global.get('re')\nvar ploe = global.get('ploe')\nvar lu = global.get('lu')\nvar tpc = global.get('tpc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar pc = global.get('pc')\nvar token=msg.payload.access_token\nvar instance_id=\"70d1f1c6-aa58-4aba-a50d-81fd9c550607\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\", \"percentage\"], \"values\": [[gen,re,ploe,lu,tpc,ms,rs,ws,pc]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["d904177e.e648d8"]]},{"id":"d904177e.e648d8","type":"http request","z":"4a4967d8.7b9d18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/ed86016c-52e0-4fee-9ef1-a6454cc364b0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["6970892a.25b258"]]},{"id":"6970892a.25b258","type":"function","z":"4a4967d8.7b9d18","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["7caabd9a.404d14","e38093ec.d1dac"]]},{"id":"7caabd9a.404d14","type":"ui_text","z":"4a4967d8.7b9d18","group":"fe8adbe7.f7ce58","order":1,"width":0,"height":0,"name":"","label":"grade","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":340,"wires":[]},{"id":"e38093ec.d1dac","type":"debug","z":"4a4967d8.7b9d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":60,"wires":[]},{"id":"fe8adbe7.f7ce58","type":"ui_group","z":"","name":"student performance","tab":"1fcf3956.f9ef37","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fcf3956.f9ef37","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]